<h2>Escolas</h2>
<button class="btn btn-default" (click)="onAdd()">Adicionar</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Ações</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Turmas</th>
    </tr>
  </thead>
  <tbody *ngFor="let e of escola">
    <tr>
      <td>
          <a (click)="onSelect(e)"><i class="fa fa-pencil fa-2"></i></a>
          <a (click)="delete(e)"><i class="fa fa-minus-circle fa-2"></i></a>
      </td>
      <td>{{ e.Nome }}</td>
      <td>{{ e.Endereco }}</td>
      <div *ngFor="let t of e.Turma">{{ t.Nome }}</div>
    </tr>
  </tbody>
</table>

<app-escola-detail [escola]="selectedEscola"></app-escola-detail>
