#div-principal {
    font-family: Verdana;
    /*padding-top: 10%;*/
    text-align:center;
}

#cor-div-principal {
    background-color: lightsteelblue;
    padding: 4%;
}

#menu{
    margin-top: 4%;
    background-color: lightsteelblue;
    text-align:center;
}
.panel-primary>.panel-heading{
    background-color: lightsteelblue;
    border-color: transparent;
    font-size: 14pt;
    font-family: inherit;
    font-family: Verdana;
    color: black;
}

.panel-primary {
    border-color: black;
    height: 160px;
}

.btn-default{
    margin-top: 2%;
    color: black;
    background-color: lightsteelblue;
    border-color: lightsteelblue;
}