#div-principal {
    font-family: Verdana;
    text-align:left;
}

#titulo{
    font-size: 25pt;
}

#cor-div-principal {
    background-color: lightsteelblue;
    padding: 1%;
}

#menu{
    margin-top: 1%;
    background-color: lightsteelblue;
    text-align:center;
}
.panel-primary>.panel-heading, .panel-body{
    background-color: lightsteelblue;
    border-color: transparent;
    font-size: 14pt;
    font-family: inherit;
    font-family: Verdana;
    color: black;
}

.panel-primary {
    border-color: transparent;
    height: 100px;
}

.btn-default{
    margin-top: 0%;
    color: black;
    background-color: white;
    border-color: lightsteelblue;
}

.btn-default:hover{
    background-color: grey;
    color: white;
}