<h2>Turmas</h2>
<a class="btn btn-default" routerLink="/add-turma">Adicionar</a>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Ações</th>
      <th>Nome</th>
      <th>Escola</th>
    </tr>
  </thead>
  <tbody *ngFor="let t of turma">
    <tr>
      <td>
        <a routerLink="/turma/{{t.ID}}">
          <i class="fa fa-pencil fa-2x"></i>
        </a>
        <a (click)="delete(t)" style="cursor: pointer;">
          <i class="fa fa-minus-circle fa-2x"></i>
        </a>
      </td>
      <td>{{ t.Nome }}</td>
      <td>{{ t.Escola.Nome }}</td>
    </tr>
  </tbody>
</table>
